<mz-modal [fixedFooter]="true" #loginModal>
    <mz-modal-header>
        <h4>Login</h4>
    </mz-modal-header>
    <mz-modal-content>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mz-input-container>
                <input mz-input id="email" [label]="'Email'" formControlName="email" placeholder="Enter email"
                    type="text">
            </mz-input-container>
            <mz-input-container>
                <input mz-input id="password" [label]="'Password'" formControlName="password"
                    placeholder="Enter Password" type="password">
            </mz-input-container>

            <button mz-button class="login-btn" [flat]="true">Login</button>
        </form>
    </mz-modal-content>
    <mz-modal-footer>
        <button mz-button [flat]="true" mz-modal-close>Close</button>
    </mz-modal-footer>
</mz-modal>