.login-btn{
    border-radius: 290px;
    background-color: #f62f5e;
    height: unset;
    line-height: 35px;
    font-size: 0.875rem;
    text-transform: capitalize;
    font-family: Montserrat;
    font-weight: 500;
}