.topnav {
    background-color: #f7f7f7;
    color: black;
}

.topnav .nav-wrapper {
    margin-left: 100px;
    font-weight: 700;
    font-size: 1.5em;
    font-family: Montserrat;
}

.topnav .nav-wrapper .topnav-links{
    color:#f62f5e;
    cursor: pointer;
}