<nav class="topnav">
    <div class="nav-wrapper">
        <p *ngIf="!isAuthenticated">Hi!
            <a class="topnav-links" (click)="onSignIn()">Sign in</a> or
            <a class="topnav-links" (click)="onRegister()">Register</a>
        </p>
        <p *ngIf="isAuthenticated"> Hi {{currentUser?.name}}!
            <a class="topnav-links" (click)="onProfile()"> My Profile </a> |
            <a class="topnav-links" (click)="logout()">Logout</a>
        </p>
    </div>
</nav>
<app-login (loggedIn)="loggedIn()"></app-login>
<app-register (showLogin)="onSignIn()" (registered)="loggedIn()"></app-register>
<app-profile></app-profile>