.remove-item {
    background: none;
    text-transform: capitalize;
    color: #f62f5e;
    cursor: pointer;
    font-size: 12px;
}

.cart-btn{
    border-radius: 290px;
    background-color: #f62f5e;
    height: unset;
    line-height: 35px;
    font-size: 0.875rem;
    text-transform: capitalize;
    font-family: Montserrat;
    font-weight: 500;
}
.quantity-input{
    width: 7% !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
}
.cart-icon {
    cursor: pointer;
}
