<mz-modal [fixedFooter]="false" #cartModal>
    <mz-modal-header>
        <h4>Items in your Cart</h4>
        <p class="text-right">Total: {{cart_total}}</p>
    </mz-modal-header>
    <!-- <form [formGroup]="shoppingcartForm" (ngSubmit)="onSubmit()"> -->
    <mz-modal-content>
        <table class="striped responsive-table">
            <thead>
                <tr>
                    <th>Item</th>
                    <th></th>
                    <th>Color</th>
                    <th>Size</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
            </thead>

            <tbody *ngIf="cart_items.length">
                <tr *ngFor="let item of cart_items">
                    <td><img width="80" [src]="imageBaseUrl+item.image"></td>
                    <td>{{item.name}}<br> <button mz-button (click)="removeCartItem(item.product_id); false"
                            large="true" class="remove-item text-left">
                            X Remove
                        </button></td>
                    <td>{{item.attributes | slice:0:1}}</td>
                    <td>{{item.attributes | slice:2:8}}</td>
                    <td>
                        <mz-input-container>
                            <i (click)="decreaseQuantity()" class="material-icons cart-icon">remove_circle</i>
                            <input class="quantity-input" inline="true" value="{{item.quantity}}" mz-input id="quantity"
                                [label]="''" formControlName="quantity" type="text"><i (click)="increaseQuantity()"
                                class="material-icons cart-icon">add_circle</i>
                        </mz-input-container>
                    </td>
                    <td>{{item.price}}</td>
                </tr>
            </tbody>
        </table>
    </mz-modal-content>
    <mz-modal-footer>
        <button mz-button [flat]="true" *ngIf="isAuthenticated && cart_items.length" class="cart-btn">Checkout</button>
        <button mz-button [flat]="true" *ngIf="!isAuthenticated" class="cart-btn">Login</button>
        <button mz-button [flat]="true" mz-modal-close class="remove-item">Close</button>
    </mz-modal-footer>
    <!-- </form> -->
</mz-modal>