<mz-modal [fixedFooter]="false" #profileModal>
    <mz-modal-header>
        <h4>Login</h4>
    </mz-modal-header>
    <!-- <form [formGroup]="loginForm" (ngSubmit)="onSubmit()"> -->
    <!-- <mz-modal-content>
        <mz-input-container>
            <input mz-input id="email" [label]="'Email'" formControlName="email" placeholder="Enter email" type="text">
        </mz-input-container>
        <mz-input-container>
            <input mz-input id="password" [label]="'Password'" formControlName="password" placeholder="Enter Password"
                type="password">
        </mz-input-container>
    </mz-modal-content>
    <mz-modal-footer>
        <button mz-button [flat]="true" mz-modal-close>Login</button>
    </mz-modal-footer> -->
    <!-- </form> -->
</mz-modal>