.sh-navbar {
    background-color: #2E2E2E;
    padding: 0 15px 0 5px;
    box-shadow: none;
    padding-left: 100px;
    padding-right: 0;
}
.brand-logo{
    color: #f62f5e;
    padding: 0;
    font-size: 26px;
    font-family: Montserrat;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-decoration: none;
}
nav ul a {
    transition: 0.2s;
    font-size: 1rem;
    color: #fff;
}
nav .search-form {
    background: #2E2E2E;
    float: right;
    border-radius: 5%;
}
nav .search-input {
    height: 25px;
    margin-top: 20px;
    border-radius: 20px;
}
nav .search-label {
    top: -30px;
}
nav .search-close {
   top: -20px;
   font-size: 1rem;
}
nav a p {
    color: #f62f5e;
}
nav .cart-icon {
    margin-left: 80px;
}
span.badge {
    border-radius: 50%;
    background-color: white !important;
    font-size: 0.8em;
    font-weight: 700;
    color: red;
    margin-top: 10px !important;
    top: -12px;
    left: 20px;
}
nav .btn-dropdown-demo {
    color: #ddd;
    background-color: #343a40;
    font-family: Montserrat;
}
nav ul a:hover {
    background-color: transparent;
    opacity: 0.8;
    transition: 0.2s;
}
.btn, .btn-large{
    color: #ddd;
    background-color: #2E2E2E;
    text-transform: capitalize;
    font-size: 1.5em;
    margin-top: -20px;
}
.nav-link {
    padding: 0;
}
.mail-count {
    width: 20px;
    height: 20px;
    background-color: #20ca90;
    color: white;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    position: relative;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    bottom: 6px;
    right: 10px;
}
.nav-mail-btn {
    margin-top: 9px;
    margin-right: 0px;
    font-size: 20px;
}
.nav-menu-btn {
    margin-left: 0px;
    font-size: 40px;
    color: #1b4069;
}
.nav-dropdown-btn {
    color: #1b4069;
    margin-top: 4px;
    font-size: 18px;
}
.nav-dropdown{
    margin-left: 260px;
    background: inherit;
    color: #f62f5e;
    text-transform: capitalize;
    font-size: 3em;
    font-weight: bold;
}
.nav-avatar {
    margin-top: 4px;
    margin-right: 10px;
    font-size: 28px;
}
#nav-mobile{  
    margin-left: 360px; 
}