<div class="navbar-fixed">
    <nav class="sh-navbar navbar navbar-expand-lg navbar-light">

        <div class="nav-wrapper">
            <a href="#/" class="brand-logo">
                <p>SHOPMATE</p>
            </a>
            <mz-dropdown class="nav-dropdown" id="dropdown-demo" [align]="'right'" [belowOrigin]="false"
                [constrainWidth]="true" [dropdownButtonId]="'btn-dropdown-demo-'" [gutter]="true" [hover]="true"
                [inDuration]="300" [outDuration]="300" [stopPropagation]="true">
                <mz-dropdown-item>
                    <a href="#!">Test</a>
                </mz-dropdown-item>
            </mz-dropdown>

            <a mz-button id="btn-dropdown-demo" href="#" *ngFor="let department of departments">{{department?.name}}</a>
            <form [formGroup]="searchForm" class="search-form">
                <div class="input-field">
                    <input id="search" type="search" autocomplete="false" (input)="onSearch($searchForm)"
                        formControlName="keyword" class="search-input">
                    <label class="label-icon search-label" for="search"><i class="material-icons">search</i></label>
                    <i (click)="onCloseSearch()" class="material-icons search-close">close</i>
                </div>
            </form>

        </div>
        <a mz-button>
            <span class="badge cart-badge">{{cart_items}}</span>
            <i (click)="showCart()" class="material-icons cart-icon">card_travel</i>
        </a>
    </nav>
</div>
<app-shoppingcart></app-shoppingcart>