<app-navbar (navSearch)="navSearch($event)"></app-navbar>
<app-topnav></app-topnav>
<div class="container-fluid">
    <div class="row">
        <div class="col m12">
            <div class="col s3">
                <mz-card [horizontal]="false" [hoverable]="false">
                    <mz-card-content>
                        <form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
                            <h5><strong>Filter Products</strong></h5>
                            <p>Category: Regional</p>
                            <p>Department: French</p>
                            <hr>
                            <h6>{{attributes[1].name}}</h6>
                            <div style="margin-bottom: 10px;">
                                <label class="color-radio" *ngFor="let att of attributes[1].attribute_values"
                                    [ngStyle]="{'background':getColor(att.value)}">
                                    <input type="radio" value="{{att?.value}}" />
                                </label>
                            </div><br>
                            <h6>{{attributes[0].name}}</h6>
                            <div class="col s2" style="margin-bottom: 10px; margin-left: 15px !important;"
                                *ngFor="let attribute_value of attributes[0].attribute_values">
                                <mz-badge [value]="attribute_value.value" [caption]="''" class="cart-badge"
                                    [badgeClass]="'grey'" [new]="false">
                                </mz-badge>
                            </div><br>
                            <div style="margin-top: 20px;">
                                <label for="price" class="price-label">Price Range:</label>
                                <ng5-slider class="price-slider" [(value)]="minValue" [(highValue)]="maxValue"
                                    [options]=" options">
                                </ng5-slider>
                            </div>
                            <div>
                                <mz-input-container>
                                    <input mz-input id="filter-name" [label]="'Search keyword'"
                                        formControlName="keyword" placeholder="Enter a keyword to search" type="text">
                                </mz-input-container>
                            </div>
                            <div class="pt-3">
                                <button mz-button large="true" class="filter-products text-left">
                                    Apply
                                </button>
                                <button mz-button (click)="resetFilters($event); false" large="true"
                                    class="reset-filters text-right">
                                    X Reset
                                </button>
                            </div>
                        </form>
                    </mz-card-content>
                </mz-card>
            </div>
            <div class="col s9">
                <div class="col m4 s6"
                    *ngFor="let product of products | paginate: { itemsPerPage: 9, currentPage: page}">
                    <div class="card product-card">
                        <div class="card-image">
                            <img [src]="imageBaseUrl+product.thumbnail">
                            <button routerLink="product/{{product.product_id}}"
                                class="btn btn-floating halfway-fab waves-effect waves-light red">
                                <i class="material-icons">add</i>
                            </button>
                        </div>
                        <div class="card-content">
                            <span class="card-title">{{product.name}}<strong></strong></span>
                            <p class="price">{{product.price | currency:'GBP'}}</p>
                        </div>
                    </div>
                </div>
                <div class="col s 9">
                    <pagination-controls (pageChange)="page = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>