.ng5-slider .ng5-slider-pointer {
    cursor: pointer;
    width: 15px;
    height: 15px;
    top: -6px;
    background-color: red;
}
.price-label {
    margin-top: 50px;
    margin-left: -60px;
}
.color-radio{
    /* background: red; */
    border-radius: 50%;
    height: 22px !important;
    padding-left: 22px;
    padding-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.filter-products{
    border-radius: 290px;
    background-color: #f62f5e;
    height: unset;
    line-height: 35px;
    font-size: 0.875rem;
    text-transform: capitalize;
    font-family: Montserrat;
    font-weight: 500;
}
.reset-filters {
    background: none;
    text-transform: capitalize;
    color: #f62f5e;
    cursor: pointer;
    font-size: 12px;
}
.product-card:hover{
    opacity: 0.5;
}
.btn-floating.halfway-fab {
    position: absolute;
    right: 120px;
    bottom: 70px;
}
.card .btn-floating.halfway-fab:hover {
   visibility: visible;
}
span.badge.new {
    font-weight: 700;
}
