<app-navbar (showCartItems)="cartItems"></app-navbar>
<app-topnav></app-topnav>
<div class="container-fluid">
    <div class="row">
        <div class="col m12">
            <div class="col s6">
                <div class="col m12 s12">
                    <div class="card">
                        <div class="card-image">
                            <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s6">
                <div class="card">
                    <div class="card-title text-centre hoverable">
                        <a class="home-link" routerLink="/">Home</a> . Regonal . Seasonal
                    </div>
                    <div class="card-content">
                        <ngx-stars [readonly]="true" [color]="'rgb(255, 201, 79)'" [maxStars]="5"
                            [initialStars]="product?.review">
                        </ngx-stars>
                        <h5><strong>{{product?.name}}</strong></h5><br>
                        <p class="product-price"><strong>£ {{product?.price}}</strong></p><br>
                        <form [formGroup]="shoppingcartForm" (ngSubmit)="onSubmit()">
                            <h6>Color</h6>
                            <div class="col s12">
                                <label class="color-radio" *ngFor="let color of product_colors"
                                    [ngStyle]="{'background':getColor(color.value)}">
                                    <input type="radio" value="{{color.value}}" />
                                </label>
                            </div>
                            <h6>Size</h6>
                            <div class="col s2" style="margin-bottom: 10px; margin-right: unset !important;"
                                *ngFor="let size of product_sizes">
                                <mz-badge [value]="size?.value" [caption]="''" class="cart-badge" [badgeClass]="'grey'"
                                    [new]="false">
                                </mz-badge>
                            </div>
                            <div class="col s12">
                                <label class="quantity-label">Quantity</label>
                                <mz-input-container>
                                    <i (click)="decreaseQuantity()" class="material-icons cart-icon">remove_circle</i>
                                    <input class="quantity-input" inline="true" mz-input id="quantity" [label]="''"
                                        formControlName="quantity" type="text"><i (click)="increaseQuantity()"
                                        class="material-icons cart-icon">add_circle</i>
                                </mz-input-container>
                            </div>
                            <div class="pt-3">
                                <button mz-button large="true" class="add-to-cart text-left">
                                    add To Cart
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s 12 product-review" *ngIf="isAuthenticated">
            <h5 class="review-heading">Product Reviews</h5>
            <div class="col s12">
                <div *ngFor="let review of reviews">
                    <ngx-stars [readonly]="true" [color]="'rgb(255, 201, 79)'" [maxStars]="5"
                        [initialStars]="review.rating">
                    </ngx-stars>
                    <p>Review: {{review.review}}</p>
                    <p>Reviewer: {{review.name}}</p>
                    <hr>
                </div>
            </div>
        </div>
        <div class="col s12" style="margin-top: 15px;">
            <h5>Post review</h5>
            <form [formGroup]="reviewForm" (ngSubmit)="onPostReview()" *ngIf="isAuthenticated">
                <label>Rating</label>
                <ngx-stars [color]="'rgb(255, 201, 79)'" formControlName="rating" (ratingOutput)="onRatingSet($event)">
                </ngx-stars>
                <mz-input-container>
                    <input mz-input id="review" [label]="'Review'" formControlName="review"
                        placeholder="Enter your review" type="text">
                </mz-input-container>
                <button mz-button class="review-btn">Add Review</button>
            </form>
            <hr>
            <button mz-button [flat]="true" (click)="goToLogin($event); false"><span>Login</span> to Add a
                Review</button>
        </div>
    </div>
</div>
<app-footer></app-footer>