.add-to-cart{
    border-radius: 290px;
    background-color: #f62f5e;
    line-height: 35px;
    color: white !important;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 700;
    text-transform: none;
}
.card .card-content .product-price{
    color: #f62f5e;
    font-size: 18px;
}

.card .card-title {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #B4B4B4;
}

.home-link {
    color: #B4B4B4;
}
.product-review {
    margin-left: 10%;
}
.review-heading{
    color: #2E2E2E;
    font-size: 24px;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 1px;
}
.quantity-input{
    width: 5% !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
}
.color-radio{
    border-radius: 50%;
    height: 22px !important;
    padding-left: 22px;
    padding-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.color-radio > input{ 
    /* visibility: hidden; */
    position: absolute;
}
.badge:empty {
    display: block;
}
.cart-icon {
    cursor: pointer;
}
/* .color-radio > input + div{
    border: 1px solid #8095b1;
    border-radius: 4px;
    padding: 15px; 
    color: #bbd8ff;
    font-weight: bold;
    letter-spacing: 0.6px;
    opacity: 0.5;
} */
.badge .purple > input:checked + div{
    border: 1px solid #d9a54c;
    color: #d9a54c;
    opacity: 1;
}
.review-btn {
    border-radius: 290px;
    background-color: #f62f5e;
    line-height: 35px;
    color: white !important;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 700;
    text-transform: none;
}