<mz-modal [fixedFooter]="false" #registerModal>
    <mz-modal-header>
        <h4>Register</h4>
    </mz-modal-header>
    <mz-modal-content>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <mz-input-container>
                <input mz-input id="name" [label]="'Name'" formControlName="name" placeholder="Enter name" type="text">
            </mz-input-container>
            <mz-input-container>
                <input mz-input id="email" [label]="'Email'" formControlName="email" placeholder="Enter email"
                    type="text">
            </mz-input-container>
            <mz-input-container>
                <input mz-input id="password" [label]="'Password'" formControlName="password"
                    placeholder="Enter Password" type="password">
            </mz-input-container>
            <button mz-button [flat]="true">Register</button>
            <button mz-button [flat]="true" (click)="goToLogin($event); false">Go to Login</button>
        </form>
    </mz-modal-content>
    <mz-modal-footer>
        <button mz-button [flat]="true" mz-modal-close>Close</button>
    </mz-modal-footer>
</mz-modal>