/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr.css';
body, html {
    height: 100%;
    margin: 0;
    background: #efefef;
    color: #333;
    font-family: Lucida Grande;;
    font-size: 16px;
}
.full-page {
    padding-left: 230px;
    padding-bottom: 78px;
}
.full-width {
    width: 100% !important;
}
.pull-left {
    float: left!important;
}
.max-w-50 {
    max-width: 50px!important;
}
.large-text {
    font-size: 18px;
}
.extra-large-text {
    font-size: 32px;
}
.container-fluid{
    margin-top: 25px;
}
.pointer {
    cursor: pointer;
}
.card .card-content .card-title{
    color:#2E2E2E;
    font-family: Lucida Grande;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: auto;
}
 .ngx-gallery-icon {
    z-index: unset !important;
}

.ngx-gallery-image.ngx-gallery-active  {
    z-index: unset !important;
}

.card .card-content .price {
    color: #f62f5e;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}
a:hover {
    text-decoration: none !important;
}
.m-b-0 {
    margin-bottom: 0 !important;
}
.m-t-0 {
    margin-top: 0 !important;
}
.m-r-5 {
    margin-right: 5px !important;
}
.m-t-10 {
    margin-top: 10px !important;
}
.m-r-10 {
    margin-right: 10px!important;
}
.m-b-10 {
    margin-bottom: 10px!important;
}
.m-b-15 {
    margin-bottom: 15px !important;
}
.m-t-15 {
    margin-top: 15px !important;
}
.m-b-20 {
    margin-bottom: 20px !important;
}
.m-t-20 {
    margin-top: 20px !important;
}
.m-l-20 {
    margin-left: 20px !important;
}
.m-b-30 {
    margin-bottom: 30px !important;
}
.m-b-50 {
    margin-bottom: 50px !important;
}
.m-t-50 {
    margin-top: 50px !important;
}
.m-r-250 {
    margin-right: 250px !important;
}
.p-l-0 {
    padding-left: 0 !important;
}
.p-r-0 {
    padding-right: 0 !important;
}
.p-l-5 {
    padding-left: 5px !important;
}
.p-10 {
    padding: 10px !important;
}
.p-l-10 {
    padding-left: 10px !important;
}
.p-r-10 {
    padding-right: 10px !important;
}
.p-r-15 {
    padding-right: 15px !important;
}
.p-t-15 {
    padding-top: 15px !important;
}
.p-l-20 {
    padding-left: 20px !important;
}
.p-r-20 {
    padding-right: 20px !important;
}
.p-b-20 {
    padding-bottom: 20px !important;
}
.p-t-30 {
    padding-top: 30px !important;
}
.p-r-30 {
    padding-right: 30px !important;
}
.p-t-50 {
    padding-top: 50px !important;
}
.btn {
    box-shadow: none !important;
}
.img-circle {
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 45px;
    max-height: 45px;
    min-width: 45px;
    max-width: 45px !important;
}
.content-header-text {
    color: #e2e8f0;
    margin: 15px 0 0 0;
    font-size: 22px;
    font-weight: 500;
}
.content-header-text p {
    margin-bottom: 0;
}
.content-header {
    width: 100%;
}
.content-header hr {
    margin: 5px 0 20px 0;
    border-top: 3px solid #1b4069;
}
.content-header-action-btn {
    margin: 12px 0 0 0;
    padding: 0 !important;
    position: absolute !important;
    top: 4px;
    right: 10px;
    color: #e2e8f0 !important;
}
.content-header-action-btn i {
    margin-right: 5px !important;
    font-size: 15px;
    font-weight: bold;
}
.content-header-action-btn:hover {
    opacity: 0.7;
}
.inner-content-header hr {
    margin: 5px 0 20px 0;
    border-top: 2px solid #d4dae5;
}
.inner-content-header-text {
    font-size: 16px;
}
.inner-content-header-smaller-text {
    font-size: 14px;
}
.main-menu .side-nav {
    background: #e2e8f0;
    width: 230px;
}
.main-menu .side-nav li>a {
    color: #fff;
}
.main-menu .side-nav li>a:hover {
    text-decoration: none;
}
.main-menu .side-nav li.active, .menu-active {
    background-color: transparent;
    box-shadow: 0 0 20px 2px rgba(0,0,0,0.4);
}
.sidenav-off-btn {
    position: absolute;
    bottom: 60px;
    width: 100%;
    margin: 0 auto;
}
.sidenav-off-btn li {
    height: 62px;
    background-color: #e2e8f0;
}
.sidenav-off-btn a {
    height: auto !important;
}
.sidenav-off-btn i {
    float: unset !important;
    font-size: 35px !important;
    font-weight: bold;
    color: #333 !important;
    margin-top: 10px !important;
    cursor: pointer;
}
.ng5-slider .ng5-slider-pointer {
    cursor: pointer;
    width: 15px;
    height: 15px;
    top: -6px;
    background-color: #f62f5e;
}
.price-slider .ng5-slider-span .ng5-slider-pointer .ng5-slider-pointer-max{
    background-color: #f62f5e;   
}

.price-slider .ng5-slider-span .ng5-slider-pointer .ng5-slider-pointer-min{
    background-color: #f62f5e; 
}